<%- include('../partials/header') %>

<div class="container mt-5">
  <h2>Yeni Seviye Oluştur</h2>
  <form method="POST" action="/admin/create-level">
    <div class="mb-3">
      <label>Seviye Numarası</label>
      <input type="number" name="number" class="form-control bg-dark text-lgray" required>
    </div>
    <div class="mb-3">
      <label>Paragraf (Orijinal Metin)</label>
      <textarea name="originalText" class="form-control bg-dark text-lgray" rows="5" required></textarea>
    </div>
    <button class="btn btn-primary">Kaydet</button>
  </form>
</div>

<%- include('../partials/footer') %>
