body {
    background-color: #f9f9f9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .container {
    max-width: 900px;
  }
  
  .letter-input {
    width: 40px;
    height: 40px;
    margin: 5px;
    text-align: center;
    text-transform: lowercase;
    font-weight: bold;
    font-size: 20px;
    background-color: #24272b;
    border: 2px solid #7f7c7c;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
  }
  
  .letter-input.correct {
    border-color: #00ff3d;
    background-color: #2e412e;
    color: #00ff3d;
  }
  
  .letter-input.incorrect {
    border-color: #ff4747;
    background-color: #653636;
    color: #ff6976;
  }
  
  .punctuation {
    display: inline-block;
    margin: 5px;
    font-size: 20px;
  }
  
  #jokerButton {
    font-weight: bold;
  }
  
  #submitButton {
    font-weight: bold;
  }
  
  .game-board {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    padding: 10px;
    background-color: #212529;
    border-radius: 8px;
    border: 2px solid #444;
  }
  
  /* Kelimelerin bölünmesini önler */
  .word {
    display: inline-block;
    white-space: nowrap;
  }
  
  /* Boşlukları göstermek için ayraç (isteğe göre genişliği arttırılabilir) */
  .space {
    width: 20px;
    display: inline-block;
  }
  
  /* Progres bar arka planı */
  .progress {
    background-color: #e0e0e0;
  }
  
  .list-group-item {
    background-color: #212529;
  }

  .game-bg {
    background-color: #2a2e33;
    padding: 15px;
    border-radius: 8px;
  }

  .text-lgray {
    color: #dcdddd !important;
  }

  .game-alert-info {
    position: relative;
    padding: 1rem;
    margin-bottom: 1rem;
    color: #9eeaf9;
    background-color: #1e4047;
    border: 1px solid #9eeaf9;
    border-radius: 8px;
  }

  .game-finish-info {
    position: relative;
    padding: 1rem;
    margin-bottom: 1rem;
    color: #f99e9e;
    background-color: #471e1e;
    border: 1px solid #f99e9e;
    border-radius: 8px;
  }

  .hidden {
    display: none;
  }